
 a {
    color: rgb(164, 48, 86)
 }

 a:hover {
    color:goldenrod;
    transition: 4s;
}

 h3 {
    color: blueviolet;
 }

 .name {
    color:rgb(21, 21, 199);
    border-radius: 20%;
    border: 8px solid rgb(183, 9, 67);
    background-color: rgb(239, 201, 103);
 }

 h2.second {
    color: rgb(21, 21, 199);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20%;
}; 

.image {
    border-radius: 50%;
    border: 5px solid goldenrod;

};

