h1 {
    color: rgb(21, 21, 199);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(245, 193, 60);
    border-radius: 20%;
}

.image {
    border-radius: 50%;
    border: 5px solid goldenrod

};